.big {
    background-color: rgb(93, 91, 91);
    /* background:linear-gradient(to right,#035C9F,#00C4F9); */
    /* height: 1000px; */
    width: 200px;
    /* display: flex; */
    flex-wrap: nowrap;
    justify-content:space-between;
}
.title{
    width: 200px;
    height: 150px;
    color: white;
    font-size: 30px;
    line-height: 200px;
    text-align: center;
}
.Link{
    width: 200px;
    height: 100px;
    display: block;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
}